/ ------This view is for the Homepage index (companies#index)--------

/ ----------- TEXT to add a company --------
/ = link_to "New Company", new_company_path

/ ----------- BUTTON to add a company --------
%a{:href => 'companies/new', :class => 'button'}
	%img{:src=> 'assets/button-new.png'}

/  ---------  LISTING Companies ---------
.table_company
	%table
		%tr
			%th="Company"
		- @companies.each do |x|
			%tr
				%td= link_to x.name, x.website, :target => "_blank"
				%td= link_to 'Show', company_path(x.id)
				%td= link_to 'Edit', edit_company_path(x.id)
