/ ------This view is for a specific Company (companies#show) --------

/ Try using these to take a screen snapshot:

/ http://rubygems.org/gems/snapurl

/ Use Firefox "headless" to take screenshots of web pages.

/ http://mythumbshot.com/

/ I use IMGKit gem for that: https://github.com/csquared/IMGKit
/ Related topic: How to respond_to PNG or JPG in Rails and generate image from HTML?
/ http://stackoverflow.com/questions/5135666/how-to-respond-to-png-or-jpg-in-rails-and-generate-image-from-html


.notice
	= flash[:notice]
%h1 
	=@company.name

.actions
	= link_to 'Back to List', companies_path