/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Arvo:700|Lora);

 /* ---------Reset defaults -----------*/
* {
	padding: 0px;
	margin: 0px;
}

/* ---------------Error/Notice messages ---------- */
.error {
	color: red;
}

.notice { 
	color: blue;
}

/* -------------- Body ------------------- */
body { 
	background-image: url(/assets/background/binding_light/binding_light.png);
	text-align: center;
	/*font-family: 'Georgia', sans-serif;*/
	font-family: 'Lora', serif;
}

/* -------------- Header ------------------- */
header {
	background-image: url(/assets/background/grey_wash_wall/grey_wash_wall.png);
	padding-top: 8px;
	font-size: 28px;
	color: white;
	text-align: center;
	vertical-align: bottom;
}

header h1{
	margin-bottom: 8px;
	/*font-family: 'Source Code Pro', sans-serif;*/
	font-family: 'Arvo', serif;
}

/* Turns of link decoration for 'Made.In.ATX'*/
header a {
	color: inherit;
	text-decoration: none;
}

nav {
	padding: 0px 0px 15px 0px;
}

.tagline {
	font-size: 24px;
	text-align: center;
}


