/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* ---------Reset defaults -----------*/
* {
	padding: 0px;
	margin: 0px;
	font-family: 'Georgia', sans-serif;
}
/* -------------- Body ------------------- */
body { 
	background-image: url(/assets/background/binding_light/binding_light.png);
	text-align: center;
}

/* -------------- Header ------------------- */
header {
	background-image: url(/assets/background/grey_wash_wall/grey_wash_wall.png);
	padding-top: 8px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 28px;
	color: white;
	text-align: center;
	vertical-align: bottom;

	border: 1px black dashed;
}
header h1{
	margin-bottom: 8px;
}

nav {
	border: 1px black dashed;
	padding: 10px 0px 15px 0px;
}

.tagline {
	font-size: 24px;
	text-align: center;

	border: 1px black dotted;
}

/* -------------- Button ------------------- */
.button{
	 
}

/* ----------------Table ------------------- */
table {
	border: dotted black 1px;
	margin: auto;
}