
/* -------------- Button ------------------- */
.button{
	padding-top: 3px;
	 margin: 15px;
}
.button img{
	border-radius: 20px;
}
/* ------------- Company blocks --------- */
.company {
	border: 1px black dashed;
	overflow: auto;
	padding: 5px;
	overflow: hidden;
}


.logo {
	float: left;
}

.info {
	margin-right: 125px;
}
