
/* -------------- Button ------------------- */
.button{
	padding-top: 3px;
	margin: 15px;
}
.button img{
	border-radius: 20px;
}
/* ------------- Company blocks --------- */
.company {
/*	border: 1px black dashed;*/
	overflow: auto;
	padding: 5px;
	overflow: hidden;
}


.logo {
	float: left;
	width: 125px;
	height: 150px;
}
.logo img {
	margin: 0 auto;
}

.info {
	position: relative;
	margin-right: 125px;
}

.info p {
	font-size: 12px;
}

.overview {
	postion: relative;
}

.info2 {
	position: absolute;
	right: 0px;
	font-size: 12px;
	text-align: left;
}

