<!DOCTYPE html>
<html>
<head>
  <title>MadeInAtx2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- <img src = "/dropbox/Rachel_documents/other/makersquare/code/made-in-atx-2/app/assets/background/tweed/tweed.png" alt="background"> -->
<!-- <img src = "assets/rails.png" alt="background"> -->
<%= yield %>

</body>
</html>
